button {
    border:none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


body {
    width: 400px;
    height: 200vh;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding:10px;
    background-color: #FFCE32;
    position: relative;
}



.search-bar {
    position: absolute;
    top:85px;
    background-color: white;
    margin-left: 20px;
    padding: 5px 15px;
    width: 80%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 30px;
    box-shadow: 5px 5px 5px rgb(229, 222, 222);
}

#search-bar__input {
    width: 300px;
    height: 20px;
    border:none;
}

#search-bar__input:focus {
    outline:none
}

.book__information {
    /* background-color: antiquewhite; */
    width: 90%;
    height: 250px;
    margin: auto;
}

.book__information__title {
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
}

.book__information--flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.book__information__img {
    width: 130px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.book__information--details {
    margin-left: 30px;
    margin-top: 10px;
}
.book__information__bookname {
    font-size: 20px;
}
.book__information__author {
    font-size: 15px;
    color: rgba(0,0,0,0.3);
}

.book__information__stars {
    color: #FFCE32;
}
.star {
    color:rgb(188, 186, 186);
}
.book__information__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#book__information__btns__btn {
    width: 90%;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.7);
    margin-right: 10px;
}

.book__information__check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 160px;
    
}

.book__information__check__bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FFCE32;
    padding: auto;
    
}

.book__information__check__booking {
    display: flex;
    width: 90px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.top {
/* background-color: antiquewhite; */
width: 90%;
height: 200px;
margin: auto;
}

.top__title {
    font-size: 25px;
    font-weight: 700;
}

.top__covers {
    display: flex;
    align-items: center;
    /* border:1px solid black; */
    width: 370px;
    height: 170px;
    margin-top: 10px;
    overflow: auto;
}

.top__covers__cover {
    /* border:1px solid red; */
    height: 100%;
    width: 100px;
    margin-right: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.top__covers__cover--img {
    width: 100px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: auto;
}

.top__covers--stars {
    color: #FFCE32;
}
.star {
    color:rgb(188, 186, 186);
}


